# DATABASE
DB_HOST=localhost
DB_PORT=5432
DB_NAME=db_master_mikrotik
DB_USER=postgres
DB_PASS=CHANGE_ME_IN_PRODUCTION

# SECURITY
AES_SECRET_KEY=CHANGE_ME_MIN_32_CHARS
SECRET_KEY=CHANGE_ME_MIN_32_CHARS
ALGORITHM=HS256

# CORS (Comma separated)
BACKEND_CORS_ORIGINS=["http://localhost:3000","https://dashboard.example.com"]

# TELEGRAM
TELEGRAM_BOT_TOKEN=

# SYSTEM
ENABLE_SCHEDULER=True
